/* Class styling */
#album-info {
  margin-top: 20px;
  margin-left: 10px;
  color: white;
}

#album-img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10px;
}

.album-name {
  font-size: 3rem;
  color: #af6df9;
}

.highlight {
  font-weight: bold;
  color: #17a2b8;
  font-size: 24px;
}

.track-link,
.album-details {
  text-decoration: none;
  color: #007bff;
}

.album-details img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

.order-button {
    text-align: right; 
} 

.img-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 20px;
  text-align: center;
}

