.navbar-right {
  position:relative
}

.search-container {
  position:absolute;
  width: 70%;
}

.search-container input[type="search"],
.search-results {
  width: 70%;
}

.navbar,
.navbar-expand-lg,
.navbar-dark {
  background-color: #191626;
  padding: 10px;
}

.text {
  color: rgb(255, 255, 255);
}

.search-results {
  position: absolute;
  top: 100%; 
  left: 10;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100; 
  max-height: 400px; 
  overflow-y: auto; 
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 8px 16px;
  cursor: pointer;
  line-height: 1.5;
}

.search-results li:hover {
  background-color: #f6f6f6;
}

.search-results a {
  text-decoration: none;
  color: inherit;
  display: block; 
}

