/* Class styling */
.about-us-header {
  text-align: center;
  color: #af6df9;
  font-size: 3em;
}

.text-center {
  color: #af6df9;
}
.about-us-img {
  object-fit: cover;
}

.p-3 {
  color: #af6df9;
}
.p-2 {
  color: #af6df9;
}
/* ID styling */
#about-us-datatools {
  text-align: center;
}
