/* Class styling */
.navbar,
.navbar-expand-lg,
.navbar-light {
  background-color: #af6df9;
}

.about-us-header {
  text-align: center;
  color: #af6df9;
  font-size: 3em;
}

.about-us-img {
  object-fit: cover;
}

.artist-info {
  margin-top: 20px;
}

.artist-info img {
  max-width: 200px;
  border-radius: 10px;
}

.track-link,
.album-details {
  text-decoration: none;
  color: #007bff;
}

.album-details img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 15px;
}

.highlight {
  font-weight: bold;
  color: #17a2b8;
}

.track-list {
  list-style-type: none;
  padding: 0;
}

.track-list li {
  padding: 5px 0;
}

.track-list li a {
  color: #007bff;
  text-decoration: none;
}

.track-list li a:hover {
  text-decoration: underline;
}

.bg-image {
  background-image: url('../images/home_page.png');
  background-size: cover;
  height: 100vh;
  background-position: center center;
  
}

.grid-container {
  text-align: center;
}


/* ID styling */
#projectName {
  text-align: center;
  color: #af6df9;
  font-size: 3em;
}

#instanceName {
  color: #af6df9;
  font-size: 3em;
  margin-left: 15px;
}

#about-us-datatools {
  text-align: center;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#search-results>div>img {
  max-width: 300px;
}