/* Class styling */
#artist-info {
  margin-top: 20px;
  margin-left: 10px;
  color: white;
}

.artist-name {
  font-size: 3rem;
  color: #af6df9;
}
#artist-img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10px;
}
#bubble {
  border-radius: 200px;
  text-align: center;
  min-width: max-content;
  padding: 18px;
  font-size: 18px;
}
.badge-mine {
  color: #212529;
  background-color: #af6df9;
  margin-left: 10px;
}
.order-button { 
  text-align: right; 
} 

#genre-list {
  margin: 0px;
  padding: 0px;
}

.highlight {
    font-weight: bold;
    color: #17a2b8;
    font-size: 24px;
}

.track-list {
  list-style-type: none;
  padding: 0;
  color: #af6df9
}

.track-list li {
  padding: 5px 0;
  color: #af6df9
}

.track-list li a {
  color: #007bff;
  text-decoration: none;
}

.track-list li a:hover {
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background-color: #0e001a; 
  color: white;
}

.card-img-top {
  height: 300px; 
  object-fit: cover; 
  width: 100%; 
  border-bottom: 1px solid #fff;
}

.card-body {
  flex-grow: 1; /* Allow the card body to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 16px;
}

.card-title, .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 16px;
}

.card-body > a.btn {
  margin-top: auto; 
}

.img-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 20px;
  text-align: center;
}

.album-details img {
  max-width: 100px;
}
#img-thumbnail {
  max-width: 200px;
}