/* ID styling */
#track-info {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.track-name {
    color: #af6df9;
    font-size: 3em;
    margin-left: 15px;
}

#track-img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 10px;
  border-color: white;
}

.form-floating { 
    text-align: right; 
} 

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease;
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    font-size: 20px;
    text-align: center;
  }


.highlight {
  font-weight: bold;
  color: #17a2b8;
  font-size: 24px;
}
