<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ERROR 404</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <!-- Get our style.css file -->
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/style.css')}}"
        />
    </head>
    <body>
        <h1 style="text-align: center; padding: 4em 4em;">Error 404: Page Not Found</h1>
    </body>   
</html>